{% extends 'layout.html' %}
{% set active_page = 'bill' %}
{% block some_content %}
    <div id="bill_menu">
        <h3>p1</h3>
        <p>Amount: {{ p1a }}</p>
        <p>Date: {{ p1d }}</p>
        <br>
        <h3>p2</h3>
        <p>Amount: {{ p2a }}</p>
        <p>Date: {{ p2d }}</p>
    </div>

{#    <div>#}
{#        <form action="" method="post">#}
{#            {{ form.hidden_tag() }}#}
{#            <div>#}
{#                {{ form.name.label }}#}
{#                {{ form.name }}#}
{#            </div>#}
{#            <div>#}
{#                {{ form.amount.label }}#}
{#                {{ form.amount }}#}
{#            </div>#}
{#            <div>#}
{#                {{ form.date.label }}#}
{#                {{ form.date }}#}
{#            </div>#}
{#            <div>#}
{#                {{ form.add_bill }}#}
{#                {{ form.done }}#}
{#            </div>#}
{#        </form>#}
{#    </div>#}

    <div class="form bill_menu">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name }}
            {{ form.amount.label }}
            {{ form.amount }}
            {{ form.date.label }}
            {{ form.date }}
            {{ form.add_bill }}
            {{ form.done }}
        </form>
    </div>
{% endblock %}