{% extends 'layout.html' %}
{% set active_page = 'debt' %}
{% block some_content %}
    <div id="debt-output" class="content output">
        {% if output %}
            <p>{{ output }}</p>
        {% else %}
            <h3>Priority</h3>
            <ol>
            {% for debt in payoff_priority %}
                <li>{{ debt.data.name }}</li>
            {% endfor %}
            </ol>
            <br>
            <h3>Months Until Payoff</h3>
            <ul>
            {% for debt in payoff_month_dict.items() %}
                <li>{{ debt[0] }} - {{ debt[1] }} month(s) to payoff</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <button onclick="window.location.href = '/'">Home</button>
{% endblock %}