{% extends 'layout.html' %}
{% set active_page = 'debt' %}
{% block some_content %}
    <h2>Income: {{ income }}</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}
            {{ form.name }}
        </div>
        <div>
            {{ form.principal.label }}
            {{ form.principal }}
        </div>
        <div>
            {{ form.interest_rate.label }}
            {{ form.interest_rate }}
        </div>
        <div>
            {{ form.minimum.label }}
            {{ form.minimum }}
        </div>
        <div>
            {{ form.add_debt }}
            <button onclick="window.location.href = 'debt_output'">Done Button</button>
        </div>
    </form>
{% endblock %}