{% extends 'layout.html' %}
{% set active_page = 'debt' %}
{% block some_content %}
    <h2 class="comic-center">Income: ${{ income }}</h2>
{#    <form action="" method="post">#}
{#        {{ form.hidden_tag() }}#}
{#        <div>#}
{#            {{ form.name.label }}#}
{#            {{ form.name }}#}
{#        </div>#}
{#        <div>#}
{#            {{ form.principal.label }}#}
{#            {{ form.principal }}#}
{#        </div>#}
{#        <div>#}
{#            {{ form.interest_rate.label }}#}
{#            {{ form.interest_rate }}#}
{#        </div>#}
{#        <div>#}
{#            {{ form.minimum.label }}#}
{#            {{ form.minimum }}#}
{#        </div>#}
{#        <div>#}
{#            {{ form.add_debt }}#}
{#            <button onclick="window.location.href = 'debt_output'">Done Button</button>#}
{#        </div>#}
{#    </form>#}
    <div class="form">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name }}
            {{ form.principal.label }}
            {{ form.principal }}
            {{ form.interest.label }}
            {{ form.interest }}
            {{ form.minimum.label }}
            {{ form.minimum }}
            {{ form.add_debt }}
        </form>
        <button onclick="window.location.href = 'debt_output'">Done Button</button>
    </div>
{% endblock %}