{% extends 'layout.html' %}
{% block some_content %}
    {% if output %}
        <h1>{{ output }}</h1>
    {% else %}
        <h1>Priority</h1>
            <ol>
            {% for debt in payoff_prio %}
                <li>{{ debt.data.name }}</li>
            {% endfor %}
            </ol>
        <br>
        <h1>Months Until Payoff</h1>
            <ul>
            {% for debt in payoff_month_dict.items() %}
                <li>{{ debt[0] }} - {{ debt[1] }} month(s) to payoff</li>
            {% endfor %}
            </ul>
    {% endif %}
{% endblock %}