{% extends 'layout.html' %}
{% block some_content %}
    <div class="flex-container">
        <div>
            <h3>Bills</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aspernatur at cum cumque distinctio dolore ducimus ea eligendi, enim eum modi natus necessitatibus officiis quasi qui quidem soluta tempore.</p>
        </div>

        <div>
            <h3>Debts</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at, fuga nemo nisi nostrum nulla obcaecati possimus provident rem sapiente, sint sit soluta unde ut voluptas! Distinctio et nemo praesentium.</p>
        </div>

        <div>
            <h3>Both</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam commodi ipsa libero provident quidem repellat repellendus veniam. Alias consectetur consequatur doloribus ex facere id molestiae nesciunt recusandae suscipit unde.</p>
        </div>
    </div>
{% endblock %}
