{% extends 'layout.html' %}
{% set active_page = 'debt' %}
{% block some_content %}
{#    <form action="" method="post">#}
{#        {{ form.hidden_tag() }}#}
{#        <div>#}
{#            {{ form.amount.label }}#}
{#            {{ form.amount }}#}
{#        </div>#}
{#        <div>#}
{#            {{ form.submit }}#}
{#        </div>#}
{#    </form>#}

    <div class="form">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.income.label }}
            {{ form.income }}
            {{ form.add_income }}
        </form>
    </div>
{% endblock %}