<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        {% if title %}
            <title>MoneyWiz - {{ title }}</title>
        {% else %}
            <title>MoneyWiz</title>
        {% endif %}
    </head>
    <body>
        {% if title %}
            <h1>{{ title }}</h1>
        {% else %}
            <h1>Ima Page</h1>
        {% endif %}

        {% set navigation_bar = [
            (url_for('home'), 'home', 'Home'),
            (url_for('payday'), 'bill', 'Bills'),
            (url_for('income'), 'debt', 'Debt')
        ] -%}

        {% set active_page = active_page|default('home') -%}

        <ul>
            {% for href, id, caption in navigation_bar %}
            <li><a {% if id == active_page %} class="active"{% endif %} href="{{ href|e }}">{{ caption|e }}</a></li>
            {% endfor %}
        </ul>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block some_content %}{% endblock %}
    </body>
</html>