<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        {% if title %}
            <title>MoneyWiz - {{ title }}</title>
        {% else %}
            <title>MoneyWiz</title>
        {% endif %}
    </head>
    <body>
        {% if title %}
            <a class="center banner" href="{{ url_for('home') }}">{{ title }}</a>
        {% else %}
            <a class="center banner" href="{{ url_for('home') }}" >Ima Page</a>
        {% endif %}

        {% set navigation_bar = [
            (url_for('home'), 'home', 'Home'),
            (url_for('payday'), 'bill', 'Bills'),
            (url_for('income'), 'debt', 'Debt')
        ] -%}

        {% set active_page = active_page|default('home') -%}

        <nav>
            <ul>
                {% for href, id, caption in navigation_bar %}
                <li><a {% if id == active_page %} class="active"{% endif %} href="{{ href|e }}">{{ caption|e }}</a></li>
                {% endfor %}
            </ul>
        </nav>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="flash_list">
                {% for category, message in messages %}
                    <li class="flash flash-{{ category }}"><strong>{{ message }}</strong></li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block some_content %}{% endblock %}
    </body>
</html>